<main class="home-container">
    <h1 class="home-title">Todos</h1>
    <div class="todos-wrapper">
        @for (todo of todoItems(); track todo.id) {
        <div class="todo-item" [class.completed]="todo.completed">
            <div class="todo-header">
                <span class="todo-id">#{{todo.id}}</span>
                <span class="todo-status">
                    @if (todo.completed) {
                    &#10003; Completed
                    } @else {
                    &#9675; Pending
                    }
                </span>
            </div>
            <h2 class="todo-title">{{todo.title}}</h2>
        </div>
        }
    </div>
</main>